#avatar-header {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #007023;
  background-image: url('../images/black-linen.png');
  color: aliceblue;
  position: relative;
}

/* Desktop Viewing */
@media (min-width: 1024px) {
  
  #avatar-header {
    width: 20em;
    margin-right: 1em;
    margin-left: 1em;
  }
}