.tweet-container-header {
  display: flex;
  width: 500px;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}

.tweet-container:hover {
  box-shadow: 5px 5px 5px green;
}

#header-div {
  display: flex;
  flex-direction: row;
}

#user-image {
  border: 1px null #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 100px;
}

article {
  border-top: null;
  border-left: null;
  border-right: null;
  border-bottom: 5px solid black;
  font-weight: bold;
}

footer {
  display: flex;
  justify-content: space-between;
}

#posted-time {
  margin: 2px;
}

.fa-solid {
  color: black;
}

.tweet-container i:hover {
  color: pink;
}