/* Classes  */
.tweet {
  width: 20em;
}

.tweet:hover {
  box-shadow: 5px 5px 5px green;
}

.tweet-container-header {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}

.tweet-content {
  border-top: null;
  border-left: null;
  border-right: null;
  border-bottom: 5px solid black;
  font-weight: bold;
}

.fa-solid {
  color: black;
}

.tweet-container i:hover {
  color: pink;
}

/* ID's */
#header-div {
  display: flex;
  flex-direction: row;
}

#user-image {
  border: 1px null #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 100px;
}

#posted-time {
  margin: 2px;
}

footer {
  display: flex;
  justify-content: space-between;
}

/* Desktop Viewing */
@media (min-width: 1024px) {
  .tweet-container {
    width: 90%;
  }
  #tweet-data {
    margin-right: 3em;
  }
}